/* 
--------------------------------------------------------------------------------------
Variables colores
--------------------------------------------------------------------------------------

*/
:root{
    --color-azul: #5E758D;
    --color-beige:#EADED5;
    --color-gris:#58595B;
    

}



/* 
--------------------------------------------------------------------------------------
tipografias
--------------------------------------------------------------------------------------

*/


/* ------------- Serif -------------- */
@font-face{
	font-family:"Crimson Roman";
	src: url(../fonts/Crimson-Roman.otf) format("woff");
	font-weight: lighter;
	}

    /* ------------- Sans Serif -------------- */
@font-face{
	font-family:"Century Gothic";
	src: url(../fonts/Century\ Gothic.ttf) format("woff");
	font-weight: normal;
	}




/* 
--------------------------------------------------------------------------------------
Estilos principales
--------------------------------------------------------------------------------------
*/


/* contenedor principal */
.contenedor-padre{
    height: 79.4vh !important;
    position: absolute;
    margin-top: 17%;
}


/* Titulo categorias */

.tituloCategorias{
    width: 100%;
    height: 11%;
    position: relative;
    top:10%;
   
    display: flex;
    align-items: center;
}


.tituloCategorias > span{
    width: .8%;
    height: 30%;
    margin: 0 2.6% 1% 7.5%;
    background: var(--color-azul);
}

.tituloCategorias > h2{
    font-size: 1.7em;
    font-family:"Crimson Roman";
    color: var(--color-azul);
}


/* Imagenes de la galeria */

.generalImg{
    width: 100%;
    height: 100%;
}

.imagenGaleria1{
    background:url(../images/exteriorEmbarazo/imgEsEmbarazo1.jpg) no-repeat right;
    background-size: cover;
} 


.imagenGaleria2{
    background:url(../images/exteriorEmbarazo/imgEsEmbarazo2.jpg) no-repeat left;
    background-size: cover;
} 

.imagenGaleria3{
    background:url(../images/exteriorEmbarazo/imgEsEmbarazo3.jpg) no-repeat right;
    background-size: cover;
} 

.imagenGaleria4{
    background:url(../images/exteriorEmbarazo/imgEsEmbarazo1.jpg) no-repeat right;
    background-size: cover;
} 


.imagenGaleria5{
    background:url(../images/exteriorEmbarazo/imgEsEmbarazo2.jpg) no-repeat left;
    background-size: cover;
} 

/* 
--------------------------------------------------------------------------------------
Responsive
--------------------------------------------------------------------------------------
*/




/* Iphone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

        /* contenedor principal */
        .contenedor-padre{
            height: 81vh !important;
        
        }


/* Final del media querie Iphone X  */
    }



