/* 
--------------------------------------------------------------------------------------
Impotacion de los estilos de otras partes de la web
--------------------------------------------------------------------------------------

*/
/* estilos de Estudio.html */
@import url("estudio.css");

/* estilos de EstudioGaleria.html */
@import url("estudioGaleria.css");

/* estilos de tienda.html */
@import url("tienda.css");

/* 
--------------------------------------------------------------------------------------
Reset
--------------------------------------------------------------------------------------

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label{
	cursor: pointer;
}

[type=checkbox],[type=text]{
	display: none;
}

ul,li{
 list-style: none;
 margin-bottom: 0;
}

a,a:link,a:hover,a:visited,a::after,a::before{
    color:#000;
    cursor: pointer;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}




/* 
--------------------------------------------------------------------------------------
Variables colores
--------------------------------------------------------------------------------------

*/
:root{
    --color-azul: #5E758D;
    --color-beige:#EADED5;
    --color-gris:#58595B;
    

}



/* 
--------------------------------------------------------------------------------------
tipografias
--------------------------------------------------------------------------------------

*/


/* ------------- Serif -------------- */
@font-face{
	font-family:"Crimson Roman";
	src: url(../fonts/Crimson-Roman.otf) format("woff");
	font-weight: lighter;
	}

    /* ------------- Sans Serif -------------- */
@font-face{
	font-family:"Century Gothic";
	src: url(../fonts/Century\ Gothic.ttf) format("woff");
	font-weight: normal;
	}

/* 
--------------------------------------------------------------------------------------
Menu movil y tableta
--------------------------------------------------------------------------------------

*/
.menu-oculto{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* opacity: 50%; */
    transition: .5s ease-in;
    transform: translateY(-100vh);


}

/* ------------- contenedor del menu oculto -------------- */
.menu-container{
    width: 100%;
    height: 65%;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* ------------- Menu-links -------------- */

.menu-links{
    width: 100%;
    height: 65%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-links > li > a{
    font-family:"Crimson Roman";
    font-size: 2.2em;
    color: var(--color-azul);
}


/* ------------- Menu-idiomas -------------- */
.menu-idiomas{
    width: 15%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    
}

.menu-idiomas > li>a,h5{
    font-family:"Crimson Roman";
    font-size: 1.4em;
    color: var(--color-azul);
}

.menu-idiomas > li>a:active{
    color: red;
}

/* ------------- Menu-Redes sociales -------------- */

.menu-redes{
    width: 43%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.menu-redes > a{
    width: 14%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.menu-redes > span:nth-child(even) {
    width: 1.4%;
    height: 90%;
    margin-right: 7.5%;
    background: var(--color-azul);
}
.menu-redes > a:nth-of-type(n) > div{
    width: 100%;
    height: 100%;
}
/* facebook */
.menu-redes > a:nth-of-type(1) > div{
    background: url(../svg/facebook.svg) no-repeat;
    
}

/* instagram */
.menu-redes > a:nth-of-type(2) > div{
    background: url(../svg/instagram.svg) no-repeat;
}
/* whatsapp */
.menu-redes > a:nth-of-type(3) > div{
    background: url(../svg/whatsapp.svg) no-repeat;
}
/* 
--------------------------------------------------------------------------------------
NAV movil
--------------------------------------------------------------------------------------

*/



nav{
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    
}


/* ------------- Boton Abrir -------------- */
.menu-movil{
    width: 18%;
    height: 40%;
    position: relative;
    top:5%;
    right: 8%;
    color: var(--color-azul);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    
}

.menu-movil > h3{
    font-size: 1.5em;
    margin-bottom: 0;
    font-family:"Crimson Roman";
}

.menu-movil > span{
    width: 3%;
    height: 90%;
    background: var(--color-azul);
}

/* ------------- Menu activo -------------- */
.menu-activo{
    transition: .5s ease-in-out;
    transform: translateY(0vh);
}

.menu-act{
    color: var(--color-azul);
}

/* ------------- Logo -------------- */

#logo-principal{
    width: 15%;
    height: 2.5em;
    position: relative;
    top: 8%;
    left: 8%;
    background: url(../svg/logoweb.svg) no-repeat;
}

/* ------------- Menu-Compu-------------- */

.menu-compu, .idiomas-compu{
    display: none;
}

/* 
--------------------------------------------------------------------------------------
Video Pagina Principal
--------------------------------------------------------------------------------------

*/

#container-video{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


/* 
--------------------------------------------------------------------------------------
Estudio Exterior Corporativo Principal
--------------------------------------------------------------------------------------

*/

/* Imagen */
/* .imagen-ecosistema{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;  
} */

/* Imagen principal estudio */
.imagen-principal-estudio{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/Estudio-principal.jpg) no-repeat top center;
    background-size: cover;

}

/* Imagen principal estudio */
.imagen-principal-exterior{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/Exterior-principal.jpg) no-repeat top center;
    background-size: cover;

}

/* Imagen principal estudio */
.imagen-principal-corporativo{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/Corporativo-principal.jpg) no-repeat top center;
    background-size: cover;

}


/* contenedor del contenido */
.contenido-ecosistemas{
    position: relative;
    top: 30%;
    width: 100%;
    height:22%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.contenido-ecosistemas > h2{
    font-size: 5.5em;
    font-family:"Crimson Roman";
    color: #fff;
    line-height: .7em;
   
}

.contenido-ecosistemas > h4{
    font-size: .7em;
    font-family:"Century Gothic";
    color: #fff;
}

.contenido-ecosistemas > .button{
    font-size: 1em;
    font-family:"Century Gothic";
    color: #fff;
    width: 27%;
    height: 24%;
    padding-top: .5%;
    border: 1px solid #fff ;
    border-radius: 100px;
    text-decoration: none;
}
/* titulo corporativo */
#titulo-corporativo{
    font-size: 3.6em;
}


/* 
--------------------------------------------------------------------------------------
Nuestros clientes Principal
--------------------------------------------------------------------------------------
*/

/* contenedor padre */
.nuestros-clientes-contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}

/* nuestros clientes compu */
.nuestros-clientes-compu{
    display: none;
}
/* titulo compu */
.contenedor-pc{
    display: none;
}
/* titulo de sesion */
.contenedor{
    display: flex;
    align-items: flex-end;
}

/* .contenedor > span{
    width: .8%;
    height: 15%;
    margin:0 2.6% 2% 7.5%;
    background: var(--color-azul);
} */

.contenedor > h2{
    font-size: 1.5em;
    margin-left: 7.5%;
    font-family:"Crimson Roman";
    color: var(--color-azul);
}

/* indicadores del carrusel */
.carousel-indicators li{
    width: .5em;
    height: .5em;
    position: relative;
    bottom:1.5em;
    border: none;
    border-radius: 100%;
    background: var(--color-azul);
}


/* Slide del carrusel */
.grid-carrusel{
    width: 100%;
    height: 26em;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 25% 20%;
    justify-items: center;
}

/* imagen del carrusel */
.grid-carrusel > .imagen-logo{
    position: relative;
    top: 20%;
    width: 11em;
}

.grid-carrusel > .imagen-logo:nth-of-type(1){
    background: url(../images/logo-epic.jpg) no-repeat;
}

.grid-carrusel > .imagen-logo:nth-of-type(2){
    background: url(../images/logo-epic.jpg) no-repeat;
}

.grid-carrusel > .imagen-logo:nth-of-type(3){
    background: url(../images/logo-epic.jpg) no-repeat;
}

/* texto del carrusel */
.grid-carrusel > p{
    width: 80%;
    font-size: .75em;
    font-family:"Century Gothic";
    color: var(--color-azul);
}

/* subtitulo del carrusel */
.grid-carrusel > h3{
    width: 80%;
    font-size: .7em;
    font-family:"Century Gothic";
    color: #000;
    font-weight: bolder;
}

/* 
--------------------------------------------------------------------------------------
El estudio Principal
--------------------------------------------------------------------------------------
*/

/* contenedor padre */
.estudio-contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;

}

.contenido-estudio{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
    justify-items: center;
    
}
/* imagen del estudio */
.imagen-estudio{
    margin: 1.5em 0 0 0;
    width: 100%;
    height: 85%;
    background:url(../images/estudio-foto.jpg) no-repeat center;
    background-size: cover;
}

/* parrafo del estudio */
.parrafo-estudio{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parrafo-estudio > p{
    width: 80%;
    font-size: .6em;
    font-family:"Century Gothic";
    color: var(--color-azul);
    text-align: justify;
    line-height: 14pt;

}



/* 
--------------------------------------------------------------------------------------
Contacto Principal
--------------------------------------------------------------------------------------
*/

/* contenedor padre */

.contac-contenedor{
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 20% 25% 13% 12% 17% 13%;
    
}

/* Informacion de contacto */

.info-contacto{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows:repeat(3, 25%);
    align-content: center;
    padding:5% 4% 5% 7%;
}

.info-contacto > h3{
    font-size: .9em;
    font-family:"Century Gothic";
    color: var(--color-azul);
    justify-self: left;
    text-align: left;

}


/* Redes sociales contacto */

.contac-redes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    
}

.contac-redes > a{
    width: 15%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.contac-redes > span:nth-child(even) {
    width: .8%;
    height: 40%;
    margin-right: 8.5%;
    background: var(--color-azul);
}
.contac-redes > a:nth-of-type(n) > div{
    width: 100%;
    height: 100%;
}
/* facebook */
.contac-redes > a:nth-of-type(1) > div{
    background: url(../svg/facebook.svg) no-repeat;
    
}

/* instagram */
.contac-redes > a:nth-of-type(2) > div{
    background: url(../svg/instagram.svg) no-repeat;
}
/* whatsapp */
.contac-redes > a:nth-of-type(3) > div{
    background: url(../svg/whatsapp.svg) no-repeat;
}


/* Titulo suscribir */

 .contenedor-contac{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: auto;
    justify-content: center;
  
}

.contenedor-contac > h2{
    font-size: 1.5em;
    font-family:"Crimson Roman";
    color: var(--color-azul);
    justify-self: left;
} 

/* parrafo solo pc */
.parrafo-solo-pc{
    display: none;
}



/* input de suscribir y boton */

form{
    width: 100%;
    height: 55%;
    background-color:var(--color-beige);
    display: flex;
    justify-content: space-between;
    
}

form > input[type=email]{
    width: 65%;
    height: 45%;
    position: relative;
    top:20%;
    left: 5%;
    outline: none;
    border-radius: 100px;
    border: none;
    padding: 5%;
    font-size: .7em;
    font-family:"Century Gothic";
}
form > input[type=email]::placeholder{
    font-size: .8em;
    text-align: center;
    font-family:"Century Gothic";
}

/* boton de suscribir */
form > button[type=submit]{
    width: 25%;
    background-color: var(--color-azul);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family:"Crimson Roman";
  }
  form > button[type=submit]:hover, form > button[type=submit]:focus{
      border: none;
      text-shadow: none;
      outline: none;
  }


/* footer */
footer{
    width: 100%;
    height: 100%;
    background: var(--color-gris);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

footer > a > h3{
    font-size: .7em;
    font-family:"Century Gothic";
    color: #fff;
}

footer > a:nth-child(3) > h3{
    margin: 8% 0 5% 0;
}

footer > a:nth-child(4) > h3{
    margin: 0% 0 4% 0;
}

footer > a:nth-child(5) > h3{
    width: 100%;
    margin-top: 5%;
    font-size: .55em;
}

/* clase para volver visible partes del footer */
.extra-info{
    display: none;
}


/* clase para cambiar el color del menu dependiendo del fondo */
.color-cambio{
    color:#fff;
}


/* 
--------------------------------------------------------------------------------------
Navegaion Principal
--------------------------------------------------------------------------------------
*/
html, body {
    position: relative;
    height: 100%;
  }
  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }




/*-----------------Responsive---------------------------------------------------------------------------------------------------------------------- */

/* 
--------------------------------------------------------------------------------------
Anchos desde 320 
--------------------------------------------------------------------------------------
*/



@media (min-width: 320px) and (max-width: 360px){

    /* -------Nav------ */
    .menu-movil > span{
        width: 4%;
    }


/* Final del media querie anchos desde 320  */
}

/* 
--------------------------------------------------------------------------------------
Anchos desde 380 
--------------------------------------------------------------------------------------
*/

@media (min-width: 380px) and (max-width: 413px){
    /* Nav */
    .menu-movil{
        width: 17%;
    }

    


    /* titulos principales */
    .contenido-ecosistemas > h2{
        font-size: 5.8em;
    }

    #titulo-corporativo{
        font-size: 4em;
    }

    .contenido-ecosistemas > h4{
        font-size: .8em;
    }
    /* boton ecosistemas */
    .contenido-ecosistemas > .button{
        padding-top: .8%;
    }

    /* linea de span entre redes sociales principal */
    .contac-redes > span:nth-child(even) {
        width: .5%;
    }
   





/* Final del media querie anchos desde 320  */
}


/* 
--------------------------------------------------------------------------------------
Anchos desde 414
--------------------------------------------------------------------------------------
*/

@media (min-width: 414px) and (max-width: 767px){

    /* menu oculto */
    .menu-redes{
        width: 15em;
    }
    /* menu */
    .menu-movil{
        width: 5.35em;
    }


    /* adorno del menu */
    .menu-movil > h3{
        margin-left: .5em;
    }

    /* imagenes de los ecosistemas */
    /* Imagen principal estudio */
    .imagen-principal-estudio{
        background: url(../images/Estudio-principal-lg.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-lg.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-lg.jpg) no-repeat top center;
        background-size: cover;
        
    }


    /* Textos ecosistemas */
    .contenido-ecosistemas > h4{
        font-size: .75em;
    }

    /* boton ecosistema */
    .contenido-ecosistemas > .button{
        width: 9em;
        padding-top: 1%;
    }

    /* titulo corporativo */
    #titulo-corporativo{
        font-size: 3.9em;
    }
    /* Grid Carrusel */
    .grid-carrusel{
        position: relative;
        top: 2em;
    }
    /* Texto grid carrusel */
    .grid-carrusel > p{
        width: 25em;
    }

    /* imagen carrusel */
    .grid-carrusel > .imagen-logo:nth-of-type(1){
        background: url(../images/logo-epic-lg.jpg) no-repeat;
        background-size: contain;
    }
    
    .grid-carrusel > .imagen-logo:nth-of-type(2){
        background: url(../images/logo-epic-lg.jpg) no-repeat;
    }
    
    .grid-carrusel > .imagen-logo:nth-of-type(3){
        background: url(../images/logo-epic-lg.jpg) no-repeat;
    }


    /* imagen del estudio */
    .imagen-estudio{
        background:url(../images/estudio-foto-lg.jpg) no-repeat center;
        background-size: cover;
    }
    /* Parrafo de el estudio */
    .parrafo-estudio > p{
        font-size: .7em;
        line-height: 15pt;
    }


    /* Informacion de contacto */
    .info-contacto > h3{
        font-size: .85em;
    }

    /* linea de span entre redes sociales principal */
     .contac-redes > span:nth-child(even) {
        width: .5%;
    }

    /*titulo suscribir al newsletter  */
    .contenedor-contac > h2{
        font-size: 1.4em;
    }

/* Final del media querie anchos desde 414  */
}



/* 
--------------------------------------------------------------------------------------
Anchos desde 768 TABLETAS
--------------------------------------------------------------------------------------
*/

@media (min-width: 768px) and (max-width: 1024px){
    /* nav */
    nav{
        height: 6%;
    }
    /* menu */
    .menu-movil{
        width: 4.55em;
    }
    /* menu adorno */
    .menu-movil > span{
        width: 2%;
        height: 68%;
    }

    /* menu oculto */
    .menu-links > li > a{
        font-size: 2.5em;
    }

    .menu-redes {
        width: 18em;
    }

    .menu-redes > span:nth-child(even) {
        height: 81%;
    }

    .menu-idiomas > li>a, h5{
        font-size: 1.6em;
    }

    video{
        height: 98%;
    }

    /* Cada ecosistema */
    /* titulos */
    .contenido-ecosistemas > h2{
        font-size: 7em;
    }
    #titulo-corporativo{
        font-size: 6.3em;
    }
    .contenido-ecosistemas > h4{
        font-size: .9em;
    }
    /* boton */
    .contenido-ecosistemas > .button{
        font-size: 1.4em;
        width: 25%;
        height: 21%;
    }
    /* cada imagen */
     /* Imagen principal estudio */
     .imagen-principal-estudio{
        background: url(../images/Estudio-principal-tb.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-tb.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-tb.jpg) no-repeat top center;
        background-size: cover;
        
    }

    /* Nuestros clientes */
    .nuestros-clientes-contenedor{
        grid-template-rows: 14% 86%;
    }

    /* carrusel */
    .grid-carrusel{
        height: 40em;
        grid-template-rows: 55% 20% 25%;
    }

    /* imagen carrusel */
    .grid-carrusel > .imagen-logo{
        width: 15em;
        height: 10em;
        top: 30%;
    }
    .grid-carrusel > .imagen-logo:nth-of-type(1){
        background: url(../images/logo-epic-tb.jpg) no-repeat;
        background-size: contain;
    }
    
    .grid-carrusel > .imagen-logo:nth-of-type(2){
        background: url(../images/logo-epic-tb.jpg) no-repeat;
    }
    
    .grid-carrusel > .imagen-logo:nth-of-type(3){
        background: url(../images/logo-epic-tb.jpg) no-repeat;
    }

    /* Parrafo del carrusel */
    .grid-carrusel > p {
        width: 27em;
        font-size: .8em;
    }

    .carousel-indicators {
        padding-bottom: 7em;
    }
    /* EL ESTUDIO */
    .contenido-estudio{
        grid-template-rows: 60% 40%;
    }
    .estudio-contenedor{
        grid-template-rows: 14% 86%;
    }
    /* imagen estudio */
    .imagen-estudio{
        background:url(../images/estudio-foto-tb.jpg) no-repeat center;
        background-size: cover;
        height: 90%;
        width: 100%;
    }
    /* textos */
    .parrafo-estudio{
        column-count: 1;
        column-gap: .3em;
        display: block;
        text-align: center;
        padding: 1.2em 0 0 6em;
    }
    .parrafo-estudio > p{
        font-size: .75em;
        line-height: 16pt;
        margin-top: .5em;
    }

    /* Contactanos */
    .contac-contenedor{
        grid-template-rows: 14% 26% 13% 17% 18% 12%;
    }

    .info-contacto > h3{
        align-self: center;
        font-size: 1em;
    }

    /* titulo */
    .contenedor > h2{
        font-size: 1.7em;
    }

    .contenedor-contac > h2{
        font-size: 1.7em;
    }
    /* redes sociales */
    .redes-sociales{
        display: flex;
        justify-content: start;
        margin-left: 2.9em;
    }
    
    .contac-redes{
        width: 16em;
        height: 6em;
        justify-content: space-evenly;
        margin-top: 1em;
    }
    .contac-redes > a{
        height: 49%;
    }
    .contac-redes > a:nth-of-type(n) > div{
        width: 3em;
        height: 5em;
    }
    .contac-redes > span:nth-child(even){
        width: 0.9%;
        height: 48%;
    }
    /* Subscribir al newsletter */
    .contenedor-contac{
        grid-template-rows: 2em;
        height: 19%;
        position: relative;
        top: 2em;
    }
    form{
        height: 45%;
    }

    form > input[type=email]{
        padding: 3.2%;
    }

    form > input[type=email]::placeholder{
        font-size: .9em;
    }

    /* footer */
    footer{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer > a:nth-child(n) > h3{
        margin: 0;
    }
    footer > a:nth-child(3) > h3{
       width: 25em;
    }

    footer > a:nth-child(4) > h3{
        width: 25em;
    }

 /* Final del media querie anchos desde 768  */   
}

/* 
--------------------------------------------------------------------------------------
Anchos desde 1024 - tableta horizontal
--------------------------------------------------------------------------------------
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: Landscape) {
    /* menu */
    .menu-movil > span{
        width: 3%;
        height: 75%;
    }
    /* nav */
    nav{
        height: 7.5%;
    }

    /* Ecosistemas */
    .contenido-ecosistemas{
        top: 10%;
        height: 25%;
        left: -13em;
    }

     /* cada imagen */
     /* Imagen principal estudio */
     .imagen-principal-estudio{
        background: url(../images/Estudio-principal-tb-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-tb-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-tb-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* boton ecosistema */
    .contenido-ecosistemas > .button{
        padding-top: .1%;
        width: 19%;
    }

    #titulo-corporativo {
        font-size: 5.3em;
    }

    /* Nuestros clientes */
    .carousel-indicators{
        padding-bottom: 3em;
    }

    .grid-carrusel{
        grid-template-rows: 50% 20% 30%;
    }

    /* El estudio */
    .parrafo-estudio{
        column-count: 2;
        padding: 1.5em 0 0 6em;
    }

    /* Contactanos */
    .contac-contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 16% 14% 16% 20% 17% 17%;
    }

   #nuestros-clientes{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: center;
        
    } 
    .info-contacto{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
        width: 70%;
        align-content: end;
        margin-left: 2.2em;
    }

    .redes-sociales{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .contac-redes{
        margin-top: 4em;
        height: 5em;    
    }
    
    .contenedor-contac{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .contenedor-input{
        grid-column: 2/3;
        grid-row: 3/4;
        position: relative;
        top: 2.2em;
    }


    form > input[type=email]{
        top: 28%;
    }
    

    footer{
        grid-column: 1/3;
        grid-row: 6/7;
    } 

    /* info extra del footer */
    .extra-info{
        display: block;
    }

    footer > a:nth-child(n) > h3{
        width: 17em;
    }
    footer > a:nth-child(5) > h3{
        width: 100%;
    }



    /* Final del media querie anchos landscape de 768 x 1024 tabletas */
}


/* 
--------------------------------------------------------------------------------------
Anchos desde 1224
--------------------------------------------------------------------------------------
*/
@media (min-width : 1224px){



    /* Menu */
    nav{
        height: 5em;    
    }

   .menu-oculto{
       display: none;
   }

    /* #logo-principal{
        height: 3em;
        background: url(../svg/logopc.svg) no-repeat;
    } */

    #logo-principal{
        height: 2.3em;
        left: 4.3em;
    }

    video{
        height: 100%;
    }

    .menu-movil{
        display: none;
    }

    /* ------------- Menu-Compu-------------- */

    .menu-compu, .idiomas-compu{
        display: block;
    }

    .menu-compu{
        width: 35em;
    }

    .menu-compu-links{
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-left: 10em; 
    }

    .menu-compu-links > li > a{
        font-size: 1.1em;
        font-family:"Crimson Roman";
        color: var(--color-azul);
    }

    .menu-compu-links > h5{
        font-size: 1.2em;
        color: var(--color-azul);
    }


    /* menu idiomas */
    .idiomas-compu{
        width: 6em;
        height: 2em;
        position: fixed;
        top: 50em;
        left: 3.5em;
        z-index: 333;
        filter: invert(90%);
    }

    .menu-compu-idiomas{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .menu-compu-idiomas > li>a{
        color:#fff;
        font-family:"Crimson Roman";
        font-size: 1.2em;
    }
    .menu-compu-idiomas > li>a,h5{
        font-family:"Crimson Roman";
        font-size: 1.4em;
        color: #fff;
    }
    
    .menu-compu-idiomas > li>a:active{
        color: red;
    }

    /* -------------- Ecosistemas ------------ */

    /* cada imagen */
     /* Imagen principal estudio */
     .imagen-principal-estudio{
        background: url(../images/Estudio-principal-pc-1224.jpg) no-repeat top;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-pc-1224.jpg) no-repeat top;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-pc-1224.jpg) no-repeat top;
        background-size: cover;
        
    }

    .contenido-ecosistemas{
        width: 35%;
        height: 28%;
        position: relative;
        top: 2.5em;
        right: 20em;
    }

    .contenido-ecosistemas > h2{
        font-size: 6em;
    }
    .contenido-ecosistemas > h4{
        font-size: 1em;
    }
    /* boton */
    .contenido-ecosistemas > .button{
        width: 30%;
        height: 16%;
        padding-top: .3%;
    }
    #titulo-corporativo{
        font-size: 4.3em;
    }

    /*------------- Nuestros Clientes ----------- */

    .nuestros-clientes-contenedor{
        display: none;
    }

    /* titulo */
    .contenedor-pc{
        width: 15em;
        display: block;
        position: absolute;
        top: 7.1em;
        left: 2.6em;
    }

    .contenedor-pc > h2{
        font-size: 1.5em;
        font-family:"Crimson Roman";
        color: var(--color-azul);
    }

    .nuestros-clientes-compu{
        width: 90%;
        height: 60%;
        position: relative;
        top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: .9em;
    }
    /* contenedor de cada cliente */
    .nuestros-clientes-compu > .cliente-compu{
        align-self: center;
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    /* imagen del cliente */
    .imagen-logo-pc{
        width: 50%;
        height: 35%; 
    }
    /* cada imagen */
    .cliente-compu:nth-of-type(1) > .imagen-logo-pc{
        background: url(../images/logo-epic-lg.jpg) no-repeat;
        background-size: contain;
    }

    .cliente-compu:nth-of-type(2) > .imagen-logo-pc{
        background: url(../images/logo-epic-lg.jpg) no-repeat;
        background-size: contain;
    }

    .cliente-compu:nth-of-type(3) > .imagen-logo-pc{
        background: url(../images/logo-epic-lg.jpg) no-repeat;
        background-size: contain;
    }

    /* parrafo */
    .cliente-compu > p{
        width: 70%;
        font-size: .7em;
        color: var(--color-azul);
        font-family:"Century Gothic";
    }

    .cliente-compu > h3{
        font-size: .7em;
        font-family:"Century Gothic";
        font-weight: bolder;
    }

    /* --------------- El estudio------------ */
    .contenido-estudio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60% 20% 20% ;
    }

    /* imagen del estudio */
    .imagen-estudio{
        width: 80%;
        height: 100%;
        margin: 2em 0 0 0;
        background: url(../images/estudio-foto-pc-1224.jpg) no-repeat;
        background-size: cover;
    }

    .parrafo-estudio > p{
        font-size: .8em;
        line-height: 18pt;
        position: relative;
        top: 3.5em;
    }


    /* --------------- Contactanos ------------ */
    .contac-contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 16% 14% 16% 20% 17% 17%;
    }

   #nuestros-clientes{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: center;
        
    } 
    .info-contacto{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
        width: 70%;
        align-content: end;
        margin-left: 2.6em;
    }

    .redes-sociales{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .contac-redes{
        width: 60%;
        margin-top: 3em;
        height: 5em;    
    }
    
    .contenedor-contac{
        grid-column: 2/3;
        grid-row: 2/3;
        position: relative;
        top: 1.9em;
        justify-content: left;
        grid-template-rows: 2em 2em;
    }

    .contenedor-input{
        grid-column: 2/3;
        grid-row: 3/4;
        position: relative;
        top: 2.2em;
    }

    /* parrafo solo pc */
    .parrafo-solo-pc{
        display: block;
        grid-column: 2/3;
        grid-row: 3/4;
        position: relative;
        top: 2.5em;
        width: 80%;
        font-size: .8em;
        text-align: left;
        font-family:"Century Gothic";
        color: var(--color-azul);

    }

    form{
        position: relative;
        top: 7.3em;
        grid-column: 2/3;
        grid-row: 4/5;
    }

    form > input[type=email]{
        top: 28%;
        padding: 2%;
    }
    

    footer{
        grid-column: 1/3;
        grid-row: 6/7;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        
    } 

    /* info extra del footer */
    .extra-info{
        display: block;
    }

    footer > a:nth-child(n) > h3{
        text-align: center;
        width: 24em;

    }
    footer > a:nth-child(5) > h3{
        width: 100%;

    }




    /* Final del media querie anchos desde 1224  */
    }


/* 
--------------------------------------------------------------------------------------
Anchos desde 1360
--------------------------------------------------------------------------------------
*/
@media (min-width : 1360px){

    /* menu idiomas */
    .idiomas-compu{
        top: 49em;
    }

    /* --------------- ecosistemas -------------- */
    .contenido-ecosistemas{
        top: 4em;
        right: 20em;
    }

    .contenido-ecosistemas > h2{
        font-size: 7em;
    }
    #titulo-corporativo{
        font-size: 5.3em;
    }

     /* cada imagen */
     /* Imagen principal estudio */
     .imagen-principal-estudio{
        background: url(../images/Estudio-principal-pc-1360.jpg) no-repeat top;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-pc-1360.jpg) no-repeat top;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-pc-1360.jpg) no-repeat top;
        background-size: cover;
        
    }

    


    /* titulo sesiones */
    .contenedor > h2{
        margin-left: 2.2em;
    }
    .contenedor-pc > h2{
        margin-left: -2em;
    }

    /* Info contacto */
    .info-contacto{
        margin-left: 3.5em;
    }
   
/* Final del media querie anchos desde 1360  */
}



/* 
--------------------------------------------------------------------------------------
Anchos desde 1920
--------------------------------------------------------------------------------------
*/


@media (min-width : 1920px){

/* Final del media querie anchos desde 1920  */
}




/* -------------------------------------Dispositivos Varios---------------------------------------- */



/* 
--------------------------------------------------------------------------------------
Imac
--------------------------------------------------------------------------------------
*/


@media (min-width : 2560px){



/* Final del media querie anchos desde 1920  */
}




/* 
--------------------------------------------------------------------------------------
Iphone 5
--------------------------------------------------------------------------------------
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 360px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

/* ------------------------------------***Pagina Principal**--------------------------------------- */
    /* -------Nav------ */

    #logo-principal{
        height: 2.3em;
    }
    .menu-movil > span{
        width: 4%;
    }

    /* titulos principal */
    .contenido-ecosistemas > h2{
        font-size: 4.8em;
    }

    .contenido-ecosistemas > .button{
        font-size: .9em;
    }
    #titulo-corporativo{
        font-size: 3.3em;
    }

    /* Grid el carrusel */

    .grid-carrusel {
        grid-template-rows: 50% 30% 20%;
    }

    /* imagen de el estudio */
    .imagen-estudio{
        margin: .9em 0 .5em 0 ;
    }
    /* Parrafo de el estudio */
    .parrafo-estudio > p{
        font-size: .6em;
        line-height: 12pt;
    }

    /* Contactanos  */
    .contac-contenedor{
        grid-template-rows: 20% 20% 15% 15% 15% 15%;
    }
    .contac-redes{
        align-items: center;
    }
    .info-contacto{
        padding: 5% 4% 0 7%;
    }
    .info-contacto > h3{
        font-size: .8em;

    }

    /* redes sociales */
    /* titulo subscribete al newsletter */
    .contenedor-contac{
        grid-template-rows: 1.8em;
    }
    .contenedor-contac > h2{
        font-size: 1.4em;
    }

    /* Boton suscribir */
    form {
        height: 65%;
    }
    form > button[type=submit]{
        font-size: .9em;
    }

    footer{
        flex-wrap: nowrap;
    }
    footer > a > h3{
        font-size: .7em;
    }
    
    footer > a:nth-child(3) > h3{
        margin-top: 3%;
    }
    footer > a:nth-child(4) > h3{
        margin:0 0  7% 0 ;
    }
    footer > a:nth-child(5) > h3{
        margin-top: 2%;
    }
/* Final del media querie Iphone 5 */
}


/* 
--------------------------------------------------------------------------------------
Iphone 5 - horizontal
--------------------------------------------------------------------------------------
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 379px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: Landscape) {

    /*  NAV */
    nav{
        height: 13%;
    }
    .menu-movil{
        width: 4.3em;
    }
    .menu-movil > h3{
        font-size: 1.2em;
        margin-left: .4em;
    }
    .menu-movil > span{
        height: 95%;
    }

    #logo-principal{
        height: 1.6em;
    }

    /* menu oculto */

    .menu-links > li > a{
        font-size: 1.5em;
    }
    .menu-idiomas > li>a, h5 {
        font-size: 1.2em;
    }
    .menu-redes{
        width: 9em;
        height: 10%;
    }

    /* video */
    video{
        width: 36em;
        height: 17em;
        object-fit: cover;
    }

    /* ECOSISTEMAS */

     /* cada imagen */
     /* Imagen principal estudio */
     .imagen-principal-estudio{
        background: url(../images/Estudio-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    .contenido-ecosistemas{
        top: 0%;
    }

    .contenido-ecosistemas > h4{
        margin: 2em 0 1em 0;
    }

    .contenido-ecosistemas > .button{
        height: 40%;
        padding-top: 0;
    }

    /* NUESTROS CLIENTES */

    .nuestros-clientes-contenedor {
        grid-template-rows: 23% 77%;
    }
    /* carrusel */
    .grid-carrusel{
        top:1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
    }

    .grid-carrusel > h3{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .grid-carrusel > p{
        font-size: .7em;
        margin-top: 2em;
    }

    .grid-carrusel > .imagen-logo{
        left: 1em;
    }

    /* EL ESTUDIO */
    .estudio-contenedor{
        grid-template-rows: 23% 77%;
    }
    .contenido-estudio{
        grid-template-columns: 1fr 1fr;
    }

    .imagen-estudio{
        width: 80%;
        height: 8em;
    }

    .parrafo-estudio{
        grid-column: 2/3;
        grid-row: 1/3;
        column-count: 1;
        display: block;
    }

    .parrafo-estudio > p{
        font-size: 0.6em;
        line-height: 12pt;
    }

    /* contactanos */
    .contac-contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 30% 25% 20%;
    }

    .info-contacto{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0;
        margin-left: 1.3em;
        text-align: left;
    }

    .info-contacto > h3{
        font-size: .7em;
    }

    .redes-sociales{
        grid-column: 1/2 ;
        grid-row: 3/4;
    }
    .contenedor-contac{
        grid-column: 2/3;
        grid-row: 2/3;
        height: 97%;
        justify-content: left;
        grid-template-rows: 1.7em;
    }

    .contenedor-input{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    form > button[type=submit]{
        font-size: .8em;
    }
    footer{
        grid-column: 1/3;
        grid-row: 4/5;
    }

    footer > a:nth-of-type(n) > h3{
        margin: .25em;
        font-size: .7em;
    }

    footer > a:nth-child(5) > h3{
        font-size: .5em;
    }

/* Final del media querie Iphone 5 horizontal */
  }




/* 
--------------------------------------------------------------------------------------
Moviles desde 380px Horizontal
--------------------------------------------------------------------------------------
*/
  @media only screen 
  and (min-device-width: 380px) 
  and (max-device-width: 767px)
  and (orientation: Landscape) {

    /*  NAV */
    nav{
        height: 13%;
    }
    .menu-movil{
        width: 4.3em;
    }
    .menu-movil > h3{
        font-size: 1.2em;
        margin-left: .4em;
    }
    .menu-movil > span{
        height: 95%;
    }

    #logo-principal{
        height: 1.6em;
    }

    /* menu oculto */

    .menu-links > li > a{
        font-size: 1.5em;
    }
    .menu-idiomas > li>a, h5 {
        font-size: 1.2em;
    }
    .menu-redes{
        width: 9em;
        height: 10%;
    }

    /* video */
    video{
        width: 42em;
        height: 20em;
        object-fit: cover;
    }

    /* ECOSISTEMAS */

     /* cada imagen */
     /* Imagen principal estudio */
     .imagen-principal-estudio{
        background: url(../images/Estudio-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    .contenido-ecosistemas{
        top: 0%;
    }

    .contenido-ecosistemas > h4{
        margin: 2em 0 1em 0;
    }

    .contenido-ecosistemas > .button{
        height: 40%;
        padding-top: 0;
    }

    /* NUESTROS CLIENTES */

    .nuestros-clientes-contenedor {
        grid-template-rows: 23% 77%;
    }
    /* carrusel */
    .grid-carrusel{
        top:1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
    }

    .grid-carrusel > h3{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .grid-carrusel > p{
        font-size: .7em;
        margin-top: 2em;
    }

    .grid-carrusel > .imagen-logo{
        left: 1em;
    }

    /* EL ESTUDIO */
    .estudio-contenedor{
        grid-template-rows: 23% 77%;
    }
    .contenido-estudio{
        grid-template-columns: 1fr 1fr;
    }

    .imagen-estudio{
        width: 80%;
        height: 8em;
    }

    .parrafo-estudio{
        grid-column: 2/3;
        grid-row: 1/3;
        column-count: 1;
        display: block;
    }

    .parrafo-estudio > p{
        font-size: 0.6em;
        line-height: 12pt;
    }

    /* contactanos */
    .contac-contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 30% 25% 20%;
    }

    .info-contacto{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0;
        margin-left: 1.3em;
        text-align: left;
    }

    .info-contacto > h3{
        font-size: .7em;
    }

    .redes-sociales{
        grid-column: 1/2 ;
        grid-row: 3/4;
    }
    .contenedor-contac{
        grid-column: 2/3;
        grid-row: 2/3;
        height: 97%;
        justify-content: left;
        grid-template-rows: 1.7em;
    }

    .contenedor-input{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    form > button[type=submit]{
        font-size: .8em;
    }
    footer{
        grid-column: 1/3;
        grid-row: 4/5;
    }

    footer > a:nth-of-type(n) > h3{
        margin: .25em;
        font-size: .7em;
    }

    footer > a:nth-child(5) > h3{
        font-size: .5em;
    }

/* Final del media querie Iphone 5 horizontal */
  }






/* 
--------------------------------------------------------------------------------------
Moviles desde 775px de ancho en Horizontal (xiaomi redmi 8)
--------------------------------------------------------------------------------------
*/

  @media only screen and (min-width: 775px) and (max-width: 1023px) and (orientation: Landscape) {

    /*  NAV */
    nav{
        height: 13%;
    }
    .menu-movil{
        width: 4.3em;
    }
    .menu-movil > h3{
        font-size: 1.2em;
        margin-left: .4em;
    }
    .menu-movil > span{
        height: 95%;
    }

    #logo-principal{
        height: 1.6em;
    }

    /* menu oculto */

    .menu-links > li > a{
        font-size: 1.5em;
    }
    .menu-idiomas > li>a, h5 {
        font-size: 1.2em;
    }
    .menu-redes{
        width: 9em;
        height: 10%;
    }

    .menu-idiomas{
        width: 10%;
    }

    /* video */
    video{
        width: 43em;
        height: 17em;
        object-fit: cover;
    }

    /* ECOSISTEMAS */

     /* cada imagen */
     /* Imagen principal estudio */
     .imagen-principal-estudio{
        background: url(../images/Estudio-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-exterior{
        background: url(../images/Exterior-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    /* Imagen principal estudio */
    .imagen-principal-corporativo{
        background: url(../images/Corporativo-principal-mo-h.jpg) no-repeat top center;
        background-size: cover;
    }

    .contenido-ecosistemas{
        top: 0%;
        left: 0;
    }
    /* titulo */
    .contenido-ecosistemas > h2{
        font-size: 5em;
    }

    .contenido-ecosistemas > h4{
        margin: 2em 0 0 0;
    }

    .contenido-ecosistemas > .button{
        height: 49%;
        padding-top: 0;
        margin-top: .5em;
        font-size: 1.1em;
    }

    /* NUESTROS CLIENTES */

    .nuestros-clientes-contenedor {
        grid-template-rows: 23% 77%;
    }
    /* carrusel */
    .grid-carrusel{
        top:1.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
    }

    .grid-carrusel > h3{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .grid-carrusel > p{
        font-size: .7em;
        margin-top: 2em;
    }

    .grid-carrusel > .imagen-logo{
        left: 1em;
        height: 7em;
    }
    .carousel-indicators{
        padding-bottom: 0em;
    }

    /* titulos */
    .contenedor > h2{
        font-size: 1.5em;
    }

    /* EL ESTUDIO */
    .estudio-contenedor{
        grid-template-rows: 23% 77%;
    }
    .contenido-estudio{
        grid-template-columns: 1fr 1fr;
    }

    .imagen-estudio{
        width: 80%;
        height: 9em;
    }

    .parrafo-estudio{
        grid-column: 2/3;
        grid-row: 1/3;
        column-count: 1;
        display: block;
        padding: 1em 0 0 0;
    }

    .parrafo-estudio > p{
        font-size: 0.6em;
        line-height: 12pt;
    }

    /* contactanos */

    #nuestros-clientes {
        grid-column: 1/2;
        grid-row: 1/2;
        align-items: flex-end;
    }
    .contac-contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 30% 25% 20%;
    }

    .info-contacto{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0;
        margin-left: 1.3em;
        text-align: left;
    }

    .info-contacto > h3{
        font-size: .7em;
       
    }

    .redes-sociales{
        grid-column: 1/2 ;
        grid-row: 3/4;
    }
    .contenedor-contac{
        grid-column: 2/3;
        grid-row: 2/3;
        height: 97%;
        justify-content: left;
        grid-template-rows: 1.7em;
        top: 0;
    }

    .contenedor-input{
        grid-column: 2/3;
        grid-row: 3/4;
        top: 0;
    }

    .contac-redes{
        margin-top: 1em;
        width: 10em;
        height: 3.4em;
    }
    form{
        height: 62%;
    }

    form > button[type=submit]{
        font-size: .8em;
    }
    footer{
        grid-column: 1/3;
        grid-row: 4/5;
    }

    footer > a:nth-of-type(n) > h3{
        margin: .25em;
        font-size: .7em;
        width: 13em;
    }

    footer > a:nth-child(5) > h3{
        font-size: .5em;
    }


/* Final del media querie Iphone 5 horizontal */
  }

/* 
--------------------------------------------------------------------------------------
Iphone X
--------------------------------------------------------------------------------------
*/

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
    

     /*boton ecosistemas  */
     .contenido-ecosistemas > .button{
         width: 33%;
         padding-top: 1.3%;
     }

     /*Grid carrusel  */
     .grid-carrusel {
         position: relative;
         top: 2em;
     }
    /*Parrafo estudio  */
    .parrafo-estudio > p{
        font-size: .7em;
        line-height: 15pt;
    }



/* Final del media querie Iphone X  */
    }


/* 
--------------------------------------------------------------------------------------
Ipad Pro Portrait and Landscape
--------------------------------------------------------------------------------------
*/

@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: portrait) {

    /* Nav */

    .menu-movil{
        width: 4.9em;
    }
    .menu-movil > h3{
        font-size: 1.6em;   
    }
    .menu-movil > span{
        width: 3%;
    }

    /* menu oculto */
    .menu-links{
        height: 50%;
    }

    .menu-links > li > a{
        font-size: 3em;
    }
    .menu-idiomas > li>a, h5{
        font-size: 2em;
    }

    .menu-redes{
        width: 25em;
    }

    .menu-redes > span:nth-child(even){
        width: 1.2%;
    }

    /* Ecosistemas */
    .contenido-ecosistemas > h2{
        font-size: 9em;
    }

    .contenido-ecosistemas > h4{
        font-size: 1em;
    }

    /* boton cada ecosistema */
    .contenido-ecosistemas > .button{
        height: 18%;
    }

    #titulo-corporativo{
        font-size: 8.3em;
    }

    /* NUESTROS CLIENTES */
    .grid-carrusel{
        height: 61em;
    }

    /*Contenedor carusel  */

    .grid-carrusel{
        grid-template-rows: 55% 15% 30%;
    }
    /* imagen carrusel */

     .grid-carrusel > .imagen-logo{
        width: 18em;
        height: 12em;
        top: 38%;
    }
    /* parrafo carusel */
    .grid-carrusel > p{
        font-size: 1em;
    }

    .grid-carrusel > h3{
        font-size: .9em;
    }
    
    /* El estudio */
    .parrafo-estudio{
        padding: 1.2em 0 0 8em;
    }
    .parrafo-estudio > p{
        font-size: 1em;
        line-height: 20pt;
        margin-top: 2.5em;
    }

    /* Contactanos */
    /* titulo */

    .contac-contenedor{
        grid-template-rows: 14% 26% 13% 15% 20% 12%;
    }
    .contenedor > h2{
        font-size: 1.9em;
    }
    .info-contacto{
        padding: 5% 4% 0 7%;
    }
    .info-contacto > h3{
        font-size: 1.2em;
    }

    .redes-sociales{
        margin-left: 4em;
    }
    .contac-redes{
        width: 18em;
        height: 5.5em;
    }
    .contenedor-contac{
        grid-template-rows: 2.8em;
    }

    .contenedor-contac > h2{
        font-size: 1.9em;
    }

    form{
        height: 36%;
    }

    form > input[type=email]{
        padding: 2.8%;
    }
    form > button[type=submit]{
        font-size: 1.4em;
    }
    form > input[type=email]::placeholder{
        font-size: 1em;
    }
    footer{
        height: 68%;
        position: relative;
        bottom: -3em;
    }

    footer > a:nth-child(n) > h3{
        width: 40em;
    }




/* Final del media querie Ipad Pro */
}



@media only screen 
and (min-width: 1366px) 
and (max-height: 1024px) 
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: landscape) {

   /* menu idiomas */
   .idiomas-compu{
        top: 68em;
   }


   /* contenedor principal */
   .contenido-ecosistemas{
        height: 20%;
   }

   /* titulos sesiones */
   .contenedor > h2{
       margin-left: 2.3em;
   }

   .contenedor-pc > h2{
       margin-left: -2em;
   } 

   /* boton */
   .contenido-ecosistemas > .button{
       height: 16%;
   }

   /* titulo suscribir */

   .contenedor-contac{
       top: 2.9em;
   }

   /* formulario de suscribir */
   form{
       top: 8.3em;
       height: 44%;
   }



/* Final del media querie Ipad Pro */
}
