/* 
--------------------------------------------------------------------------------------
Reset
--------------------------------------------------------------------------------------

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label{
	cursor: pointer;
}

[type=checkbox],[type=text]{
	display: none;
}

ul,li{
 list-style: none;
 margin-bottom: 0;
}

a,a:link,a:hover,a:visited,a::after,a::before{
    color:#000;
    cursor: pointer;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

/* 
--------------------------------------------------------------------------------------
Variables colores
--------------------------------------------------------------------------------------

*/
:root{
    --color-azul: #5E758D;
    --color-beige:#EADED5;
    --color-gris:#58595B;
    

}



/* 
--------------------------------------------------------------------------------------
tipografias
--------------------------------------------------------------------------------------

*/


/* ------------- Serif -------------- */
@font-face{
	font-family:"Crimson Roman";
	src: url(../fonts/Crimson-Roman.otf) format("woff");
	font-weight: lighter;
	}

    /* ------------- Sans Serif -------------- */
@font-face{
	font-family:"Century Gothic";
	src: url(../fonts/Century\ Gothic.ttf) format("woff");
	font-weight: normal;
	}

/* 
--------------------------------------------------------------------------------------
Menu movil y tableta
--------------------------------------------------------------------------------------

*/
.menu-oculto{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* opacity: 50%; */
    transition: .5s ease-in;
    transform: translateY(-100vh);


}

/* ------------- contenedor del menu oculto -------------- */
.menu-container{
    width: 100%;
    height: 65%;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* ------------- Menu-links -------------- */

.menu-links{
    width: 100%;
    height: 65%;
    /* outline:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-links > li > a{
    font-family:"Crimson Roman";
    font-size: 2.2em;
    color: var(--color-azul);
}


/* ------------- Menu-idiomas -------------- */
.menu-idiomas{
    width: 15%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    /* outline:1px solid green; */
}

.menu-idiomas > li>a,h5{
    font-family:"Crimson Roman";
    font-size: 1.4em;
    color: var(--color-azul);
}

.menu-idiomas > li>a:active{
    color: red;
}

/* ------------- Menu-Redes sociales -------------- */

.menu-redes{
    width: 43%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* outline:1px solid blue ; */
}

.menu-redes > a{
    width: 14%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.menu-redes > span:nth-child(even) {
    width: 1.4%;
    height: 90%;
    margin-right: 7.5%;
    background: var(--color-azul);
}
.menu-redes > a:nth-of-type(n) > div{
    width: 100%;
    height: 100%;
}
/* facebook */
.menu-redes > a:nth-of-type(1) > div{
    background: url(../svg/facebook.svg) no-repeat;
    
}

/* instagram */
.menu-redes > a:nth-of-type(2) > div{
    background: url(../svg/instagram.svg) no-repeat;
}
/* whatsapp */
.menu-redes > a:nth-of-type(3) > div{
    background: url(../svg/whatsapp.svg) no-repeat;
}
/* 
--------------------------------------------------------------------------------------
NAV movil
--------------------------------------------------------------------------------------

*/

nav{
    width: 100%;
    height: 8%;
    position: fixed;
    z-index: 999999;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    

}

/* ------------- Boton Abrir -------------- */
.menu-movil{
    width: 18%;
    height: 40%;
    position: relative;
    top:5%;
    right: 8%;
    color: var(--color-azul);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    
}

.menu-movil > h3{
    font-size: 1.5em;
    margin-bottom: 0;
    font-family:"Crimson Roman";
}

.menu-movil > span{
    width: 3%;
    height: 90%;
    background: var(--color-azul);
}

/* ------------- Menu activo -------------- */
.menu-activo{
    transition: .5s ease-in-out;
    transform: translateY(0vh);
}

.menu-act{
    color: var(--color-azul);
}

/* ------------- Logo -------------- */

#logo-principal{
    position: relative;
    left: 8%;
}

/* 
--------------------------------------------------------------------------------------
Video Pagina Principal
--------------------------------------------------------------------------------------

*/

#container-video{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


/* 
--------------------------------------------------------------------------------------
Estudio Exterior Corporativo Principal
--------------------------------------------------------------------------------------

*/

/* Imagen */
.imagen-ecosistema{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;  
}

/* contenedor del contenido */
.contenido-ecosistemas{
    position: relative;
    top: 30%;
    width: 100%;
    height:22%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.contenido-ecosistemas > h2{
    font-size: 5.5em;
    font-family:"Crimson Roman";
    color: #fff;
    line-height: .7em;
   
}

.contenido-ecosistemas > h4{
    font-size: .7em;
    font-family:"Century Gothic";
    color: #fff;
}

.contenido-ecosistemas > .button{
    font-size: 1em;
    font-family:"Century Gothic";
    color: #fff;
    width: 27%;
    height: 24%;
    padding-top: .5%;
    border: 1px solid #fff ;
    border-radius: 100px;
    text-decoration: none;
}
/* titulo corporativo */
#titulo-corporativo{
    font-size: 3.6em;
}


/* 
--------------------------------------------------------------------------------------
Nuestros clientes Principal
--------------------------------------------------------------------------------------

*/
/* contenedor padre */
.nuestros-clientes-contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}

/* #carouselExampleIndicators{
    outline: 1px solid red;
} */

/* titulo de sesion */
.contenedor{
    display: flex;
    align-items: flex-end;
}

.contenedor > span{
    width: .8%;
    height: 15%;
    margin:0 2.6% 2% 7.5%;
    background: var(--color-azul);
}

.contenedor > h2{
    font-size: 1.5em;
    font-family:"Crimson Roman";
    color: var(--color-azul);
}

/* indicadores del carrusel */
.carousel-indicators li{
    width: .5em;
    height: .5em;
    position: relative;
    bottom:1.5em;
    border: none;
    border-radius: 100%;
    background: var(--color-azul);
}


/* Slide del carrusel */
.grid-carrusel{
    width: 100%;
    height: 26em;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 25% 20%;
    justify-items: center;
}

/* imagen del carrusel */
.grid-carrusel > img{
    position: relative;
    top: 25%;
}

/* texto del carrusel */
.grid-carrusel > p{
    width: 80%;
    font-size: .75em;
    font-family:"Century Gothic";
    color: var(--color-azul);
}

/* subtitulo del carrusel */
.grid-carrusel > h3{
    width: 80%;
    font-size: .7em;
    font-family:"Century Gothic";
    color: #000;
    font-weight: bolder;
}



html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    outline: 1px solid red;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }