/* 
--------------------------------------------------------------------------------------
Variables colores
--------------------------------------------------------------------------------------

*/
:root{
    --color-azul: #5E758D;
    --color-beige:#EADED5;
    --color-gris:#58595B;
    

}



/* 
--------------------------------------------------------------------------------------
tipografias
--------------------------------------------------------------------------------------

*/


/* ------------- Serif -------------- */
@font-face{
	font-family:"Crimson Roman";
	src: url(../fonts/Crimson-Roman.otf) format("woff");
	font-weight: lighter;
	}

    /* ------------- Sans Serif -------------- */
@font-face{
	font-family:"Century Gothic";
	src: url(../fonts/Century\ Gothic.ttf) format("woff");
	font-weight: normal;
	}




/* 
--------------------------------------------------------------------------------------
Estilos principales
--------------------------------------------------------------------------------------
*/

/* contenedor principal */

#contenedor-tienda{
	position: relative;
	top: 10%;
	height: 90%;
}

/* contenedor de cada producto */
.producto-contenedor{
	background: url(../images/productos/producto.jpg) no-repeat center;
	background-size: cover;
	height: 67%;
}

/* ------------------ Imagenes de los productos-------------- */

.producto-contenedor:nth-of-type(2){
	
}

.producto-contenedor:nth-of-type(3){
	
}

.producto-contenedor:nth-of-type(4){
	
}

.producto-contenedor:nth-of-type(5){
	
}

.producto-contenedor:nth-of-type(6){
	
}

.producto-contenedor:nth-of-type(7){
	
}

.producto-contenedor:nth-of-type(8){
	
}

.producto-contenedor:nth-of-type(9){
	
}

.producto-contenedor:nth-of-type(10){
	
}


/* flechas de navegacion */
#siguiente::after, #antes::after, #siguiente::before, #antes::before{
	position: relative;
	top: 6.9em;
	font-size: 1.5em;
	color: var(--color-azul);
}

#siguiente:focus, #antes:focus{
	border: none;
	outline: none;
}

/* Paginacion de tienda */
#pag-tienda{
	position: absolute;
	top: 78%;
	height: 2em;
}


/* precio de cada producto */
.precio{
	text-align: center;
	position: absolute;
	top:31em;
	font-size: .9em;
	color: var(--color-azul);
	font-family:"Century Gothic";
}

.boton-tamano{
	position: absolute;
	background: var(--color-azul);
	border: none;
	width: 80%;
	height: 8.2%;
	font-size: .9em;
	color:#fff;
	top:33em;
	font-family:"Crimson Roman";

}

.btn-primary{
	font-size: .9em;
	color:#fff;
	font-family:"Crimson Roman";
	border: none;
	background: var(--color-azul);
	margin-top: 44em;
	
}

.btn-sm{
	padding: .45rem 4.5rem;
}



/*--------------------------------- Modal tamaños de producto estilos------------------------------ */

.select-tamano{
	width: 100%;
	height: auto;
	display: grid;
	background: none;
	grid-template-columns: 1fr;
}


/*--------------------------------- Carrito estilos------------------------------ */


.carrito{
	width: 8%;
	height: 3.5%;
	background: url(../svg/carrito.svg) no-repeat center;
	position: absolute;
	z-index: 10000;
	left: 60%;
	top: 4%;
	cursor: pointer;
}



/*--------------------------------- menu carrito modal------------------------------ */
/* The Modal (background) */

.carrito-menu {
	display: none; 
	position: fixed; 
	z-index: 100000; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .carrito-content {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	position: absolute;
	top: 0;
	background: #fff;
  }
  
  /* The Close Button */
  .carrito-close {
	color: var(--color-azul);
	float: right;
	font-size: 28px;
	font-weight: bold;
	justify-self: right;
	margin: .5em 1em 0 0;
  }
  
  .carrito-close:hover,
  .carrito-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }


  /* footer tienda */

  #footer-tienda{
	  display: none;
  }

  
/*-----------------Responsive---------------------------------------------------------------------------------------------------------------------- */

/* 
--------------------------------------------------------------------------------------
Anchos desde 320 
--------------------------------------------------------------------------------------
*/



@media (min-width: 320px) and (max-width: 350px){
	
	/* boton seleccionar tamaño */
	.btn-primary{
		margin-top: 38em;
		
	}
	/* precio */
	.precio{
		top: 26.6em;
	}


	#footer-tienda{
		display: none;
	}


	/* Final del media querie anchos desde 320  */
	}
	
	/* 
	--------------------------------------------------------------------------------------
	Anchos desde 360 
	--------------------------------------------------------------------------------------
	*/
	
	@media (min-width: 360px) and (max-width: 374px){

		/* precio */
		.precio{
			top: 30em;
		}

		/* boton seleccionar tamaño */
		.btn-primary{
			margin-top: 43em;
			
		}
		#footer-tienda{
			display: none;
		}
	
	/* Final del media querie anchos desde 320  */
	}

		/* 
	--------------------------------------------------------------------------------------
	Anchos desde 380 
	--------------------------------------------------------------------------------------
	*/
	
	@media (min-width: 380px) and (max-width: 413px){

		/* precio */
		.precio{
			top: 33.5em;
		}

		/* boton seleccionar tamaño */
		.btn-primary{
			margin-top: 48em;
			
		}
		#footer-tienda{
			display: none;
		}
	
	/* Final del media querie anchos desde 320  */
	}
	
	
	/* 
	--------------------------------------------------------------------------------------
	Anchos desde 414
	--------------------------------------------------------------------------------------
	*/
	
	@media (min-width: 414px) and (max-width: 767px){

		/* boton seleccionar tamaño */
		.btn-primary{
			margin-top: 49em;
			
		}
		/* precio */
		.precio{
			top: 34.5em;
		}
		#footer-tienda{
			display: none;
		}
	
	/* Final del media querie anchos desde 414  */
	}
	
	
	
	/* 
	--------------------------------------------------------------------------------------
	Anchos desde 768 tableta vertical
	--------------------------------------------------------------------------------------
	*/
	
	@media (min-width: 768px) and (max-width: 1024px){

		/* contenedor de cada producto */
		.producto-contenedor{
			background: url(../images/productos/producto-tb.jpg) no-repeat center;
			background-size: cover;
			height: 67%;
		}

		/* ------------------ Imagenes de los productos-------------- */

		.producto-contenedor:nth-of-type(2){
			
		}

		.producto-contenedor:nth-of-type(3){
			
		}

		.producto-contenedor:nth-of-type(4){
			
		}

		.producto-contenedor:nth-of-type(5){
			
		}

		.producto-contenedor:nth-of-type(6){
			
		}

		.producto-contenedor:nth-of-type(7){
			
		}

		.producto-contenedor:nth-of-type(8){
			
		}

		.producto-contenedor:nth-of-type(9){
			
		}

		.producto-contenedor:nth-of-type(10){
			
		}

		/* flechas de navegacion */
		#siguiente::after, #antes::after, #siguiente::before, #antes::before{
			position: relative;
			top: 12.7em;
			font-size: 1.5em;
			color: var(--color-azul);
		}
		#siguiente, #antes{
			width: 57% !important;
		}

		

		/* boton seleccionar tamaño */
		.btn-primary{
			margin-top: 67em;
			width: 20em;
			height: 3em;
			
		}

		.btn-primary:hover{
			background: var(--color-azul);
			border: none;
		}
		.btn-primary:focus{
			background: var(--color-azul);
			border: none;
		}
		/* precio */
		.precio{
			top: 43em;
			font-size: 1em;
		}
	   
		/* Carrito de compras */
		.carrito{
			height: 2.5%;
			top: 2.15%;
			left: 72%;

		}

		#footer-tienda{
			display: none;
		}
	
	 /* Final del media querie anchos desde 768  */   
	}
	
	/* 
	--------------------------------------------------------------------------------------
	Anchos desde 768 tableta horizontal
	--------------------------------------------------------------------------------------
	*/
	
	@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){


		/* flechas de navegacion */
		#siguiente::after, #antes::after, #siguiente::before, #antes::before{
			position: relative;
			top: 8.3em;
			font-size: 1.5em;
			color: var(--color-azul);
		}
		#siguiente, #antes{
			width: 57% !important;
		}

		/* boton seleccionar tamaño */
		.btn-primary{
			margin-top: 49em;
			width: 18em;
			height: 2.5em;
			
		}
		/* paginacion de la tienda */
		#pag-tienda{
			top: 73.5%;
		}
		/* precio */
		.precio{
			top: 31em;
			font-size: 1em;
		}

		/* Carrito de compras */
		.carrito{
			height: 2.8%;
			top: 2.8%;
			left: 77%;

		}

	   #footer-tienda{
			display: none;
		}
	
	 /* Final del media querie anchos desde 768  */   
	}
	
	
	/* 
	--------------------------------------------------------------------------------------
	Anchos desde 1224
	--------------------------------------------------------------------------------------
	*/
	@media (min-width : 1224px){
	
		/* contenedor principal */
		#contenedor-tienda{
			cursor: move;
			width: 80%;
			height: 73%;
			/* outline: 1px solid red; */
		}

		.carrito{
			width: 2em;
			height: 1.3em;
			left: 48%;
		}

		.carrito:hover{
			animation: carrito 0.82s cubic-bezier(.36,.07,.19,.97) both;
			transform: translate3d(0, 0, 0);
			backface-visibility: hidden;
			perspective: 1000px;
		}


		/* contenedor de cada producto */
		.producto-contenedor{
			width: 16em !important;
			
		}

		/* boton seleccionar tamaño */
		.btn-primary{
			margin-top: 34em;
		}
		.btn-primary:hover, .btn-primary:active{
			background: var(--color-gris);
			border: none;
			outline: none;
		}

		/* precio */
		.precio{
			top: 24.5em;
		}

		#pag-tienda{
			top: 94%;
		}

		/* flechas */
		#siguiente, #antes{
			top: 28.5em;
		}
		#siguiente{
			margin-right: 23.5em;
		}
		#antes{
			margin-left: 22em;
		}


		.carrito-content > p{
			color: var(--color-azul);
		}

		#exampleModalCenterTitle{
			color: var(--color-azul);
		}



		/* footer tienda */
		#footer-tienda{
			display: flex;
			height: 9em;
			position: absolute;
			bottom: 0;
			justify-content: center;
		}
		#footer-tienda > a:nth-of-type(n) > h3{
			width: 27em;
			text-align: center;
		}

		/* animacion carrito */
		@keyframes carrito {
			10%, 90% {
				transform: translate3d(-1px, 0, 0);
			  }
			  
			  20%, 80% {
				transform: translate3d(2px, 0, 0);
			  }
			
			  30%, 50%, 70% {
				transform: translate3d(-4px, 0, 0);
			  }
			
			  40%, 60% {
				transform: translate3d(4px, 0, 0);
			  }
			
		}
	/* Final del media querie anchos desde 1224  */
	}
	
	
	/* 
	--------------------------------------------------------------------------------------
	Anchos desde 1360
	--------------------------------------------------------------------------------------
	*/
	@media (min-width : 1360px){
		
		/* cada contenedor producto */
		.producto-contenedor{
			width: 336px !important;
		}


		/* footer tienda */
		#footer-tienda{
			height: 8em;
			
		}#footer-tienda > a:nth-of-type(n) > h3{
			width: 29em;	
		}
	
	/* Final del media querie anchos desde 1360  */
	}
	
	
	
	/* 
	--------------------------------------------------------------------------------------
	Anchos desde 1920
	--------------------------------------------------------------------------------------
	*/
	
	
	@media (min-width : 1920px){
	
	/* Final del media querie anchos desde 1920  */
	}
	
	
	
	
	/* -------------------------------------Dispositivos Varios---------------------------------------- */
	
	
	
	/* 
	--------------------------------------------------------------------------------------
	Imac
	--------------------------------------------------------------------------------------
	*/
	
	
	@media (min-width : 2560px){
	
	
	
	/* Final del media querie anchos desde 1920  */
	}
	
	
	
	
	/* 
	--------------------------------------------------------------------------------------
	Iphone 5
	--------------------------------------------------------------------------------------
	*/
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 360px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
	
		#footer-tienda{
			display: none;
		}
	
	
	/* Final del media querie Iphone 5 */
	}
	
	
	
	/* 
	--------------------------------------------------------------------------------------
	Iphone X
	--------------------------------------------------------------------------------------
	*/
	
	@media only screen 
		and (device-width : 375px) 
		and (device-height : 812px) 
		and (-webkit-device-pixel-ratio : 3) { 
	
	
			/* boton seleccionar tamaño */
			.btn-primary{
				margin-top: 54em;
				
			}
			/* precio */
			.precio{
				top: 38em;
			}

			#footer-tienda{
				display: none;
			}
	
	/* Final del media querie Iphone X  */
		}
	
	
	/* 
	--------------------------------------------------------------------------------------
	Ipad Pro Portrait and Landscape
	--------------------------------------------------------------------------------------
	*/
	
	@media only screen 
	and (min-width: 1024px) 
	and (max-height: 1366px) 
	and (-webkit-min-device-pixel-ratio: 1.5)
	and (orientation: portrait) {
	
		.carrito{
			height: 2.2%;
			top: 2.3%;
			left: 75%;
		}

		.btn-primary{
			margin-top: 82em;
			width: 26em;
			height: 3.3em;
			font-size: 1em;
		}
		/* flechas de navegacion */
		#siguiente::after, #antes::after, #siguiente::before, #antes::before{
			
			top: 13.9em;
			font-size: 1.8em;
			
		}
		#siguiente, #antes{
			width: 57% !important;
		}

		.precio{
			font-size: 1.5em;
			top: 38.5em;
		}

		#footer-tienda{
			display: none;
		}
	
	/* Final del media querie Ipad Pro */
	}


	@media only screen 
	and (min-width: 1366px) 
	and (max-height: 1024px) 
	and (-webkit-min-device-pixel-ratio: 1.5)
	and (orientation: landscape) {
	
		/* carrito */
		.carrito {
			height: 1.5em;
			top: 3%;
			left: 49%;	
		}

		#contenedor-tienda{
			width: 100%;
		}

		.btn-primary{
			margin-top: 45em;
		}

		.precio{
			top: 33.5em;
		}

		.producto-contenedor{
			width: 428.667px !important;
		}

		/* flechas de navegacion */
		#siguiente::after, #antes::after, #siguiente::before, #antes::before{
			top: 12.5em;
			font-size: 1.8em;
		}

		#siguiente{
			margin-right: 33.5em;
		}
		#antes{
			margin-left: 33.5em;
		}
		/* footer */
		#footer-tienda > a:nth-of-type(n) > h3{
			width: 30em;
		}

	
	/* Final del media querie Ipad Pro */
	}
