/* 
--------------------------------------------------------------------------------------
Variables colores
--------------------------------------------------------------------------------------

*/
:root{
    --color-azul: #5E758D;
    --color-beige:#EADED5;
    --color-gris:#58595B;
    

}



/* 
--------------------------------------------------------------------------------------
tipografias
--------------------------------------------------------------------------------------

*/


/* ------------- Serif -------------- */
@font-face{
	font-family:"Crimson Roman";
	src: url(../fonts/Crimson-Roman.otf) format("woff");
	font-weight: lighter;
	}

    /* ------------- Sans Serif -------------- */
@font-face{
	font-family:"Century Gothic";
	src: url(../fonts/Century\ Gothic.ttf) format("woff");
	font-weight: normal;
	}




/* 
--------------------------------------------------------------------------------------
Estilos principales
--------------------------------------------------------------------------------------
*/

/* contenedor principal */



